#cohorts-manager {
  max-width: 100%;
  font-size: 120%;

  transition: opacity 200ms;
  &.is-loading {
    opacity: 0.5;
    pointer-events: none;
  }

  * {
    box-sizing: border-box;
  }

  ul {
    margin: 0 20px;
    list-style-type: none;

    li {
      line-height: 2em;
    }
  }

  .pt-tree-root {
    margin-left: 0;
  }

  #filter-input {
    width: 25%;
    margin-left: 1em;
    margin-bottom: 1em;
    display: inline-block;
  }

  #cohort-quick-filters {
    margin: 0 7px;
    display: inline-block;

    > button {
      margin: 0 3px;
      padding: 0px 8px;
    }
  }

  #cohorts-list {
    width: 40%;

    li.cohorts-list-item {
      position: relative;
      border: 1px solid #dbdcdd;
      border-radius: 3px;
      padding: .2em .4em;
      margin: 5px 0;
      height: 140px;

      .cohort-name {
        font-size: 18px;
      }
      .cohort-id {
        font-size: 14px;
      }
      .cohort-description {
        font-size: 14px;
        margin: 12px 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 450px;
        // TODO: wrap into multiple lines
      }
      .cohort-metadata {
        position: absolute;
        padding: inherit;
        right: 0;
        top: 38px;

        > span {
          border: 1px solid #d8d9da;
          padding: 3px 10px;
          border-radius: 4px;
          margin: 3px;
          font-size: 14px;
        }
      }
      .cohort-conditions {
        position: absolute;
        right: 0;
        top: 79px;

        .cohort-job-status {
          position: relative;
          right: 17px;
          text-align: right;
          padding: 5px;
          top: -1px;

          &.queued {
            background-color: #d8d9da;
          }
        }
        .cohort-state {
          position: relative;
          right: 10px;
          border: 1px solid #d8d9da;
          padding: 3px 0;
          border-radius: 4px;
          color: #d8d9da;

          .pt-icon-standard {
            padding: 5px;

            &:not(:last-child) {
              border-right: 1px solid #d8d9da;
            }
            &.is-current-state {
              &.draft {
                color: #E09797;
              }
              &.outdated {
                color: #F0B056;
              }
              &.clean {
                color: #2B8039;
              }
            }
          }
        }
      }
      .cohort-action-menu {
        position: absolute;
        padding: inherit;
        right: 0;
        top: 0;
      }
    }
  }

  #cohorts-pagination {
    text-align: center;

    ul.pagination {
      display: inline-block;
      padding-right: 15px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      li {
        display: inline-block;
        padding: 0;

        a {
          display: inline-block;
          cursor: inherit;
          top: 0; left: 0;
          padding: 0 10px;
          line-height: 2em;
          text-decoration: none;
        }
      }
    }
  }

  .pt-non-ideal-state {
    h4 {
      margin-top: 0;
      border: 0;
      color: black;
      font-weight: 600;
      line-height: 0.9em;
      font-size: 20px;
    }
  }
}

.source-file-tooltip .pt-popover-content {
  max-width: 250px;
}
